@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import "reset.scss";

body{
    font:bold 15px/1 'Orbitron';
    color:#fff;
    letter-spacing: 2px;
    background: rgba(0,0,0,.9);

    main{
        width: 100%;
        height: 100vh;
        filter: saturate(70%);
        perspective: 1300px;
        position: fixed;


        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.5;
        }

        #section{
            width: 600px;
            height: 800px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform-style: preserve-3d;
            animation:spaceAni linear 50s infinite;
            margin-left: -300px;
            margin-top: -400px;

            &:hover{
                animation-play-state: paused;
            }

            article{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                backface-visibility: hidden;
                cursor: pointer;
                transition: 1s;
                will-change: transform;
                opacity: 0.6;

                h2{
                    font-size: 35px;
                    opacity: 0;
                    transition: 1s;
                    position: absolute;
                    top: 0;
                }
            }

            .article1,.article2,.article3,.article4,.article5,.article6,.article7,.article8{
                &:hover{
                    opacity: 0.9;

                    h2{
                        opacity: 1;
                        top:-10%;
                        color:#fff;
                        text-shadow: 3px 3px 5px rgba(68, 255, 224, 0.9);
                    }
                }
            }

            .article1{

                .Profile{
                    width: 100%;
                    height: 77%;
                    background: rgba(255,255,255,0.1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding:30px;
                    margin-bottom: 4%;
                    transition: 1s;
                    border:0.5px solid #fff;
        
                    &:hover{
                        background: rgba(255,255,255,0.2);
                        transform: scale(1.05);
                        
                        img{opacity: 1;}

                        h3{
                            color:#fff;
                            text-shadow: 1px 1px 3px rgba(255,255,255,.9);
                        }

                        p{
                            color:#fff;
                            text-shadow: 1px 1px 1px rgba(255,255,255,.9);
                        }
                    }

                    h3{
                        font:bold 30px/1 'Orbitron';
                        color:#eee;
                    }

                    .aboutMe{
                        width: 100%;
                        height:100%;
                        padding:30px;

                        img{
                            opacity: 0.7;
                            width: 100%;
                            height: 87.5%;
                            object-fit: cover;
                            margin-bottom: 15px;
                            box-shadow: 3px 3px 5px rgba(0,0,0,.1);
                        }

                        p{
                            font:normal 10px/15px 'Orbitron';
                            text-align: center;
                            color:#ccc;
                        }
                    }
                }
                
                .mySns{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li{
                        width: 30%;
                        height: 100%;
                        background: rgba(255,255,255,0.1);
                        text-align: center;
                        transition: 0.5s;
                        border:0.5px solid #fff;

                        &:hover{
                            background: rgba(255,255,255,0.2);
                            transform: scale(1.05);

                            i{
                                color:#fff;
                                text-shadow: 1px 1px 5px rgba(68, 255, 224, 0.9);
                            }
                        }

                        i{
                            font-size: 60px;
                            color:rgba(255,255,255,.8);
                            position: relative;
                            top:50%;
                            transform: translateY(-50%);
                            transition: 0.5s;
                        }
                    }
                }
            }

            .article2{

                .myPortfolio{
                    width: 100%;
                    height: 100%;

                    ul{
                        width: 100%;
                        height: 100%;

                        li{
                            width: 100%;
                            height: 30%;
                            background: rgba(255,255,255,0.1);
                            margin-bottom: 6.8%;
                            border:0.5px solid #fff;
                            transition: 1s;

                            &:nth-child(3){
                                margin-bottom: 0%;
                            }
                            
                        &:hover{
                            background: rgba(255,255,255,0.2);
                            transform: scale(1.05);

                            a{
                                i{
                                    color:#fff;
                                    text-shadow: 1px 1px 5px rgba(68, 255, 224, 0.9);
                                }

                                strong,p{
                                    color:#fff;
                                    text-shadow: 1px 1px 1px rgba(255,255,255,.9);
                                }
                            }

                        }

                            a{
                                display: block;
                                padding:12.5% 50px 12.5%;

                                &::after{
                                    content: '';
                                    display: block;
                                    clear: both;
                                }

                                i{
                                    font-size: 100px;
                                    color:#eee;
                                    transition: 0.5s;
                                    float: left;
                                    margin-right: 20px;
                                }

                                strong{
                                    font-size: 20px;
                                    margin-bottom: 10px;
                                    display: block;
                                    color:#ddd;
                                    margin-top: 15px;
                                }

                                p{
                                    font-size:13px;
                                    line-height: 20px;
                                    color:#ccc;
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                }
            }

            .article3{

                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgba(255,255,255,0.1);
                    border:0.5px solid #fff;
                    padding:50px;
                    transition: 1s;

                    
                &:hover{
                    background: rgba(255,255,255,0.2);  
                    transform: scale(1.05);
                }

                    .chart{
                        width: 100%;
                        height: 100%;
    
                        &:hover{
                            video{opacity: 1;}

                            .plan{
                                details{
                                    summary{
                                        strong,b{
                                            color:#eee;
                                            text-shadow: 1px 1px 1px rgba(255,255,255,.9);
                                        }
                                    }

                                    details[open]{
                                        color:#ddd;

                                        span{color:#eee;}
                                    }
                                }
                            }
                        }

                        video{
                            width: 100%;
                            height: 50%;
                            opacity: 0.7;
                            object-fit: cover;
                        }

                        .plan{
                            width: 100%;
                            height: 50%;
                            padding:30px 10px 0px;

                            details{
                                margin-bottom: 50px;

                                summary{
                                    margin-bottom: 10px;     

                                    strong{
                                        margin-left: 5px;
                                        color:#ccc;
                                        font-size: 12px;
                                        font-weight: normal;
    
                                        b{
                                            font-weight: bold;
                                            color:#ddd;
                                        }
                                    }
                                }
                            }

                            details[open]{
                                font-size: 10px;
                                line-height: 15px;
                                color:#ccc;
                                font-weight: normal;

                                span{
                                    margin-bottom: 5px;
                                    display: block;
                                    color:#ddd;
                                }
                            }
                        }
                    }
                }
            }

            .article4{

                ul{
                    width: 100%;
                    height: 100%;
                    
                    >li{
                        width: 100%;
                        height: 23%;
                        background: rgba(255,255,255,0.1);
                        border:0.5px solid #fff;
                        padding:30px 15px;
                        transition: 1s;
                        margin-bottom: 3.77%;
                  
                        &:hover{
                            background: rgba(255,255,255,0.2);
                            transform: scale(1.05);

                            span{
                                color:#eee;

                                b{color:#eee;}
                            }

                            ol li{color:#fff}
                        }

                        a{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            img{
                                width: 25%;
                                height: 100%;
                                object-fit: cover;
                            }

                            span{
                                font:bold 13px/1 'Orbitron';
                                color:#ddd;
                                display: block;
                                line-height: 13px;

                                b{
                                    font:bold 11px/1 'Orbitron';
                                    color:#ddd;
                                    margin-top: 10px;
                                    display: block;
                                }
                            }



                            ol{
                                display: flex;
                                justify-content: space-around;
                                align-items: center;

                                >li{
                                    margin-right: 15px;
                                    
                                    i{
                                        font-size: 20px;
                                        color:#eee;

                                        &:nth-child(3){
                                            margin-right: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .article5{

                a{
                    background: rgba(255,255,255,0.1);
                    border:0.5px solid #fff;
                    padding:30px;
                    transition: 1s;
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding:50px 30px 75px;
                    
                    &:hover{
                        background: rgba(255,255,255,0.2);
                        transform: scale(1.05);

                        h3{
                            text-shadow: 1px 1px 1px rgba(255,255,255,.9);
                            color:#fff;
                        }

                        .board{
                            li{
                              text-shadow: 1px 1px 1px rgba(255,255,255,.9);
                               color:#eee;
                            }
                        }
                    }

                    h3{
                        font:bold 30px/1 'Orbitron';
                        color:#eee;
                        margin-bottom: 30px;
                    }

                    .board{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        li{
                            margin-bottom: 20px;
                            padding:35px;
                            font:bold 13px/20px 'Orbitron';
                            color:#ddd;
                            border:1px solid #fff;
                            transition: 1s;

                            &:hover{
                                background: rgba(255,255,255,.35);
                            }
                        }
                    }
                }
            }

            .article6{

                >.inner{
                    width: 100%;
                    height: 100%;
                    background: rgba(255,255,255,0.1);
                    border:0.5px solid #fff;
                    padding:30px;
                    transition: 1s;

                &:hover{
                    background: rgba(255,255,255,0.2);
                    transform: scale(1.05);

                    a{

                        .pics video{opacity: 1;}

                        i{
                            color:#fff;
                            text-shadow: 1px 1px 1px rgba(255,255,255,.9);
                            transform: scale(1.1);
                        }

                        strong{
                            color:#fff;
                            text-shadow: 1px 1px 1px rgba(255,255,255,.9);

                            &::after{
                                background: rgba(255,255,255,.8);
                            }
                        }

                        span{
                            color:#eee;
                        }

                        >p{color:#ddd;}
                    }
                }

                    a{
                        display: block;
                        width: 100%;
                        height: 100%;

                        .pics{
                            width: 100%;
                            height: 100%;

                            video{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                opacity: 0.7;
                            }
                        }

                        i{
                            font-size: 75px;
                            color:#eee;
                            position: absolute;
                            top: 75px;
                            left: 50px;
                            transition: 1s;
                        }

                        strong{
                            position: absolute;
                            top: 100px;
                            left: 175px;
                            font-size: 25px;
                            color:#eee;

                            &::after{
                                content: '';
                                position: absolute;
                                display: block;
                                width: 100%;
                                height: 2px;
                                bottom: -15px;
                                left: 30px;
                                background: rgba(255,255,255,.5);
                            }
                        }

                        span{
                            position: absolute;
                            top: 147.5px;
                            left: 200px;
                            line-height: 15px;
                            font-size: 10px;
                            color:#ddd;
                            width: 60%;
                            display: block;
                        }

                        >p{
                            width: 80%;
                            position: absolute;
                            bottom: 50px;
                            right: 50px;
                            font-size: 10px;
                            line-height: 15px;
                            font-weight: normal;
                            color:#ccc;
                        }
                    }
                }
            }

            .article7{

                .youTube{
                    width: 100%;
                    height:100%;

                    .mainVideo{
                        width: 100%;
                        height: 70%;
                        background: rgba(255,255,255,0.1);
                        border:0.5px solid #fff;
                        margin-bottom: 5%;
                        transition:1s;

                        &:hover{
                            background: rgba(255,255,255,0.2);
                            transform: scale(1.05);

                            a{
                                h3{
                                    color:#fff;
                                    text-shadow: 1px 1px 1px rgba(255,255,255,.9);
                                }

                                p{
                                    color:#eee;
                                    text-shadow: 1px 1px 1px rgba(255,255,255,.9);
                                }
                            }
                        }
                        
                        a{
                            width: 100%;
                            height: 100%;
                            display: block;
                            padding:50px 30px;
                            transition:1s;

                            video{
                                width: 100%;
                                height: 80%;
                                object-fit: cover;
                                margin-bottom: 20px;
                            }

                            h3{
                                font:bold 20px/1 'Orbitron';
                                color:#eee;
                                margin-bottom: 10px;
                            }

                            p{
                                font:normal 12px/17px 'Orbitron';
                                color:#ddd;
                            }
                        }
                    }

                    >a{
                        display: block;
                        width: 100%;
                        height: 27%;
                        background: rgba(255,255,255,0.1);
                        border:0.5px solid #fff;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding:30px;
                        transition:1s;

                        &:hover{
                            background: rgba(255,255,255,0.2);
                            transform: scale(1.05);

                            p,span{
                                color:#eee;
                                text-shadow: 1px 1px 1px rgba(255,255,255,.9);
                            }
                        }

                        p{
                            font:normal 15px/20px 'Orbitron';
                            color:#ddd;
                            margin-bottom: 15px;
                        }

                        span{
                          font:normal 13px/1 'Orbitron';
                            color:#ddd;
                            text-align: right;
 
                        }
                    }
                }
            }

            .article8{
                >.inner{
                    width: 100%;
                    height: 100%;

                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    a{
                        background: rgba(255,255,255,0.1);
                        border:0.5px solid #fff;
                        padding:30px;
                        transition: 1s;
                        display: block;
                        width: 47.5%;
                        float: left;

                        div{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            i{
                                transition: 1s;
                                font-size:125px;
                                color:#fff;
                            }
                        }

                        &:nth-of-type(1){
                            width: 100%;
                            margin-bottom:5.5%;
                            height: 61%;

                            .weather{
                                width: 100%;
                                height: 100%;
                                justify-content: space-evenly;
                                padding:30px;

                                i{font-size:150px;}

                                span{
                                    font:bold 50px/1 'Orbitron';
                                    color:#eee;
                                }

                                strong{
                                    font:bold 35px/1 'Orbitron';
                                    color:#eee;
                                }
                            }

                        }

                        &:nth-child(2){
                            margin-right: 5%;
                            height: 35%;

                            .date{
                                width: 100%;
                                height: 100%;
                                padding:30px;

                                h3{
                                    font:bold 35px/1 'Orbitron';
                                    color:#eee;
                                    margin-top: 30px;
                                }
                            }
                        }

                        &:nth-of-type(3){
                            height: 35%;

                            .temperature{
                                width: 100%;
                                height: 100%;
                                padding:30px;
                                flex-direction: row;
                                
                                span{
                                    font:bold 35px/1 'Orbitron';
                                    color:#eee;
                                    display: block;
                                    padding-top: 75px;
                                }
                            }
                        }


                        &:hover{
                            background: rgba(255,255,255,0.2);
                            transform: scale(1.05);

                            >div{

                                >i{
                                    text-shadow: 3px 3px 10px rgba(68, 255, 224, 0.515);
                                    transform: translateY(-15px);
                                }

                                span,strong{
                                    color:#fff;
                                    text-shadow: 1px 1px 1px rgba(255,255,255,.9);
                                }
                            }
                        }
                    }
                }
            }



            .article1{transform: rotateY(0deg) translateZ(-764px);}
            .article2{transform: rotateY(45deg) translateZ(-764px);}
            .article3{transform: rotateY(90deg) translateZ(-764px);}
            .article4{transform: rotateY(135deg) translateZ(-764px);}
            .article5{transform: rotateY(180deg) translateZ(-764px);}
            .article6{transform: rotateY(225deg) translateZ(-764px);}
            .article7{transform: rotateY(270deg) translateZ(-764px);}
            .article8{transform: rotateY(315deg) translateZ(-764px);}
        }
    }
}

@keyframes spaceAni{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(360deg);}
}